<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/airport.css">
<title>Airport Management System</title>

</head>
<body background="/static/airport.jpg" style="background-size: 2184px;">
<div class="top" style="    background: rgba(0,0,0,0.5)80%;
    height: 87px;">

<h2 class="logo">AIRPORT</h2>
  <div class="menu">
   <ul>
     <li><a href="airline_company" style="border: none; font-size: 20px;">AIRLINE COMPANY</a></li>
      <li><a href="flight" style="border: none; font-size: 20px;">FLIGHT DETAILS</a></li>
       <li><a href="runway" style="border: none; font-size: 20px;">RUNWAY</a></li>
        <li><a href="employee" style="border: none; font-size: 20px;">EMPLOYEE</a></li>
         <li><a href="shop" style="border: none; font-size: 20px;">SHOP</a></li>
          <li><a href="immigration" style="border: none; font-size: 20px;">IMMIGRATION</a></li>
   </ul>
  </div>
</div>
<div class="content">
  <p class="heading" style="background-color:rgba(0,0,0,0.8);
                            width: 700px;
                            top: 239px;
                            padding-top: 0px;
                            position: absolute;
                            border-top-right-radius: 10px;
                            border-top-left-radius: 10px;">
   Airport Management System
  </p>
   <p class="para_welcome" style="background-color:rgba(0,0,0,0.8);
                                  width: 700px;
                                  position: absolute;
                                  top: 297.5px;
                                  border-bottom-left-radius: 10px;
                                  border-bottom-right-radius: 10px;">
     Welcome to the Airport Management System.<br>
     In this website you can find all the informations about the airport.<br>
     If you are a new employee kindly register yourself.
   </p>
   <div class="airport_video" style="position: absolute;
                                     left: 975px;
                                     top: 200px;">
     <iframe src="https://www.youtube.com/embed/m8n2o3Qx504?
       start=0&end=318&vq=hd1080&autoplay=1&loop=1" width="560" height="315" frameborder="0">
     </iframe>
   </div>
</div>
</body>
</html>